# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.virtualenv/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/

# Static files
staticfiles/
*.scssc
*.css.map
*.js.map

# Pytest
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp

# OS files
.DS_Store
Thumbs.db

# Python Egg
*.egg
*.egg-info/
dist/
build/
